@import 'normalize';

@import 'mixins';
@import 'variables';
@import 'core';







@font-face {
  font-family: eras;
  src: url('../fonts/ERASMD.TTF');
}

.bg-home {
  @include page-background(1);
}

.bg-contact {
  @include page-background(2);
}

.bg-info {
  @include page-background(3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $palette-a;
}

p {
  font-size: 14px;
}

html {
  @include dimensions(100%, 100%);
}

body {
  @include dimensions(100%, 100%);
  font-family: eras;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.content-body {
  @include dimensions(100%, 100%);
  margin: 0;
}

home {

}

.navbar-header {
  p {
    font-size: 18px;
    height: $nav-height;
    line-height: $nav-height;
    margin: 0 auto;
    text-align: center;
  }

  .brand-image {
    height: $logo-height;
  }

  .navbar-toggle {
    margin-top: ($nav-height / 2 - 17px);
  }
}

// Navigation links.
.navbar-collapse {
  li a {
    @include transition(color .2s ease-in-out);
    height: $nav-height;
    line-height: $logo-height;

    &:hover,
    &:focus {
      color: $palette-a !important; //bootstrap override
    }
  }
}

.navbar-nav {
  display: table;
  float: none;
  margin: 0 auto;
  table-layout: fixed;
}

// Expaning navigation menu.
.navbar-collapse.collapsing,
.navbar-collapse.in {
  padding: 0;

  ul {
    width: 100%;
  }

  li a {
    height: $nav-height / 2;
    line-height: $logo-height / 2;
  }

  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    color: $palette-c;
  }
}


@media (max-width: 768px) {
  // Scale brand image on small screen sizes.
  .navbar-brand {
    height: 100%;

    img {
      height: auto;
      max-height: $logo-height / 2px;
    }
  }
}

.intro {
  display: table;
  height: unquote("100% - #{$nav-height}");
  margin-top: $nav-height;
  padding: 100px 0;
  width: 100%;
  img.img-responsive {
    margin: 0 auto;
  }
}

footer {
  background: #000;
  height: 40px;
  width: 100%;
}
