@charset "utf-8";


@images: "../images";
@fonts: "../fonts";
@nav-height: 108px;
@logo-height: 78px;
@text-primary: rgba(255, 165, 0, 1);

.dimensions(@x) {
	width: @x;
	height: @x;
}

.dimensions(@x, @y) {
	width: @x;
	height: @y;
}

.page_background(@n) {
	background: url('@{images}/foto@{n}.jpg');
	-webkit-background-size:  cover;
  -moz-background-size:     cover;
  background-size:          cover;
  -o-background-size:       cover;
}

@font-face {
	font-family: eras;
	src: url('@{fonts}/ERASMD.TTF');
}

#bg-index { .page_background(1); }
#bg-contact { .page_background(2); }
#bg-info { .page_background(3); }

h1, h2, h3, h4, h5, h6 {
	color: @text-primary;
}

html {
	.dimensions(100%);
}

body {
	.dimensions(100%);
	font-family: eras;
	font-size: 16px;
	font-weight: 300;

}

nav {
	.navbar-brand {
		height: auto;
	}
	.navbar-collapse {
		.navbar-nav {
			float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
			> li {
				> a {
					height: @nav-height;
					line-height: 78px;
				}
			}
		}
	}
	.navbar-toggle {
		margin-top: (@logo-height - 20px) / 2px;
		margin-bottom: (@logo-height - 20px) / 2px;
	}
}



.intro {
  display: table;
  width: 100%;
  height: 800px;
  padding: 100px 0;
  text-align: center;

  .intro-body {
    display: table-cell;
    vertical-align: middle;
  }
}
