@charset "utf-8";


@images: "../images";
@fonts: "../fonts";
@nav-height: 108px;
@logo-height: 78px;

*
{
	margin:0;
	padding:0;
}

@font-face
{
	font-family: eras;
	src: url('@{fonts}/ERASMD.TTF');
}

body
{
	width: 100%;
	height: 100%;
}


/**************/
/* N	A	V */
/**************/

.logo_small
{
	position:relative;
	float:left;
	background: url('../images/logo-klein.png') no-repeat;
	width:78px;
	height:78px;
	display: inline-block;
	margin-top: 8px;
	line-height: 94px;
}

nav {
	.navbar-brand {
		height: auto;
	}
	.navbar-collapse {
		.navbar-nav {
			float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
			> li {
				> a {
					height: @nav-height;
					line-height: 78px;
				}
			}
		}
	}
	.navbar-toggle {
		margin-top: (@logo-height - 20px) / 2;
		margin-bottom: (@logo-height - 20px) / 2;
	}
}




nav {
	.container-fluid {
	}
}

/*
nav
{
	margin: 0 auto;
	width:100%;
	min-width: 1090px;
	height:94px;
	background: white;
	text-align: center;
}

nav ul
{
	margin:0;
	display:inline-block;
	list-style-type: none;
}

nav ul a
{
	float:left;
	position:relative;
	font-size:30px;
	padding-left: 12px;
	padding-right: 12px;
	font-family: eras;
	line-height: 94px;
	color: rgba(70, 70, 70, 1);
	text-decoration:none;
	background: url(../images/lmarker.png) no-repeat left center;

	 For mouseover fade in/out.
	transition:all 0.2s ease-in-out;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:all 0.2s ease-in-out;

}

nav ul a:nth-child(2) { background: none; }

nav ul a:hover
{
	background-color: rgba(180,180,180,1);
}

*/

#container
{
	width:100%;
	min-width:1024px;
	height:100%;
	margin:0 auto;
	position:absolute;
	padding:0;
}

#content
{
	margin: 0 auto;
	width: 100%;
	height: calc(100% - 94px);
	min-width: 1024px;
	min-height: 768px;
}

.ContentContainer
{
	width: 100%;
	min-width: 1024px;
	height: 100%;
	min-height: 768px;
	clear:both;
}

#page1
{
	background: url('../images/foto1.jpg');
	background-size: cover;
}

#page2
{
	background: url(../images/foto4.jpg);
	background-size: cover;
}

#page3
{
	background: url(../images/foto3.jpg);
	background-size: cover;
}

#page4
{
	background: url(../images/foto6.jpg);
	background-size: cover;
}

#page5
{
	background: url(../images/foto5.jpg);
	background-size: cover;
}

#page6
{
	background: url(../images/foto2.jpg);
	background-size: cover;
}

.p1top
{
	position:relative;
	width: 100%;
	height: 65%;
}

.p1top img
{
	width: 500px;
	height: 500px;
	position:absolute;
	top:50%;
	left:50%;
	margin: -250px 0 0 -250px;
}

.p1bot {
	padding-top: 60px;
	position:relative;
	width: 100%;
	height: 35%;
}

.p1bot p
{
	margin: auto;
	padding: 10px 25px;
	height: 150;
	width: 394px;

	top: 8%;


	background-color: white;
	font-family: eras;
	font-size: 19px;
	color: rgba(109, 109, 109, 1);
}

.p4text
{
	top: 8%;
	position:relative;
	width: 100%;
	height: 35%;
}

.p4text p
{
	margin: auto;
	padding: 10px 25px;
	height: 150;
	width: 1024px;


	background-color: white;
	font-family: eras;
	font-size: 19px;
	color: rgba(109, 109, 109, 1);
}

.info-block {

	margin: 0 auto;
	padding-bottom: 80px;
	top: 8%;
	width: 500px;
}

.info-block div {
	position: relative;
	margin: auto;
	margin-top: 25px;
	padding: 10px 25px;
	background-color: white;
	font-family: eras;
	font-size: 19px;
	color: rgba(109, 109, 109, 1);
}

.info-block div h2 {
}

.infolink {
	color: rgba(109, 109, 109, 1);
	text-decoration: none;
	cursor: pointer;
}
.infolink:hover {
	color: #000;
	text-decoration: underline;
}
